.teams {
	overflow:hidden;

	.team {
		float:left;
	    @include mq(phablet) { width: calc(100% / 4); }
	    @include mq(leftCol) { width: calc(100% / 5); }
    }

}
.sources {
		border-top:1px dotted #ccc;
		padding-top: 5px;
		@include fs-textSans(2);
		color:#767676;
}
