.team {
	position:relative;
	min-width:150px;

	.header {
		h2 {
			@include f-header;
			font-size: 14px;
			margin: 0;
			padding: 0;
		}	
		p {
			margin: 0;
			padding: 0;
			@include fs-textSans(1);
			color:#aaa;
        }
		// spans
        .safe {
            color:#5babdc;
            font-weight: 600;
        }
        .affected {
            color:#dc2a7d;
            font-weight: 600;
        }
	}
	
	.players {
		position: relative;
	}
    
    // svg
    // svg .players
    .player {
        rect {
            fill:#ddd;
        }
    }
    .player:hover {
        rect {
            fill:#000;
        }
        line {
            stroke:#000;
        }
    }   
    .player.safe {
        rect {
            fill:#5babdc;
        }
    }
    .player.affected {
        rect {
            fill:#dc2a7d;
        }
        line {
            stroke:#dc2a7d;
            stroke-width:2;
            stroke-linecap:butt;
        }
    }
    
	// svg .filed	
    .position {
        line {
            stroke:#ddd;
            stroke-width:1;
            shape-rendering: crispEdges;
            stroke-dasharray: 1,2;
        }
        text {
            @include fs-textSans(1);
            font-size:10px;
            fill:#767676;
            text-anchor: middle;
        }
    }
}
